@if (ListProduct != null)
{
	<tr>
		<td>@ListProduct.Id</td>
		<td>@ListProduct.AskingPrice</td>
		<td>@ListProduct.Units</td>
		<td>@ListProduct.Total</td>
	</tr>
}

@code {
	[Parameter]
	public DataModels.Product ListProduct { get; set; }

}
