<!--Bind inputs to the created instance of Product-->
<p>Item ID</p>
<p><input @bind="@_productInstance.Id"/></p>
<p>Asking Price</p>
<p><input @bind-value="@_productInstance.AskingPrice" @bind-value:event = "oninput" /></p>
<p>Units</p>
<p><input @bind-value="@_productInstance.Units" @bind-value:event="oninput" /></p>

<p>Total in euros</p>
<p>@ConvertToDollars(_productInstance.Total)</p>

<p><button @onclick = "HandleSubmit">Submit</button></p>


@code 
{
	DataModels.Product _productInstance = new DataModels.Product();

	[Parameter]
	public EventCallback<DataModels.Product> OnProductSubmit { get; set; }

	async Task HandleSubmit()
	{
		// Fire the event 
		await OnProductSubmit.InvokeAsync(_productInstance);
		_productInstance = new DataModels.Product();
		
	}

	double ConvertToDollars(int cents)
	{
		return Convert.ToDouble(cents) / 100;
	}	
	
}
