@page "/"

<!--CustomEventsTestComponent is included in this parent component because of the tag.-->
<CustomEventsTestComponent OnSend="@( (arg) => { _s1 = arg;} )"></CustomEventsTestComponent>

<p>@_s1</p>

@code{
	string _s1 = "";
}