<p>@_toDisplay</p>

@code {
	public string TestString = "test";
	string _toDisplay;

	public Task TaskMethod (string valueToDisplay)
	{
		_toDisplay = valueToDisplay;
		StateHasChanged();
		return Task.CompletedTask;
	}
}
